{% extends 'base.html.twig' %}

{% block title %}DevNews{% endblock %}

{% block body %}
    <div class="row text-center">
        <h1>DevNews</h1>
    </div>
    {% for noticia in noticias %}
    <div class="row">
        <div class="col-sm-12">
            <a href=""><h2>{{ noticia.titulo }}</h2></a>
            <h4>{{ noticia.subtitulo }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ noticia.data.format("H:i d/m/Y") }}
            Por <b>anônimo</b>
        </div>
    {% endfor %}
{% endblock %}
