{% extends 'base.html.twig' %}

{% block body %}
<div class="row text-center">
    <h1>Acesso negado</h1>
    <p>Esta notícia é destinada apenas a usuários premium. Cadastre-se já e escolha um plano!</p>
</div>
{% endblock %}